/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
1200 - 1800:    Default desktop
1800px ++:      Big desktop

$breakpoint options
- phone
- tab-port
- tab-land
- big-desktop

Order to implement:
1 - Base
2 - Typography
3 - General layout
4 - Grid
5 - Page layout
6 - Components

1em = 16px
*/
/* Animations
 *
 * Page animation keyframes.
 */
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  /* font-size: 10px; 1 rem is equal to 10px. */
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  background-color: #ECE0E8;
  box-sizing: border-box; }
  @media (max-width: 37.5em) {
    body {
      padding: 0; } }

body {
  font-family: 'Libre Baskerville', serif;
  font-size: 1.6rem;
  color: #230A1B; }

p.p {
  font-size: 1.7rem;
  line-height: 3.2rem; }

.heading-sub {
  backface-visibility: hidden; }

.heading-main {
  color: #fff;
  font-family: 'Roboto Slab', serif;
  display: block;
  font-size: 5rem;
  font-weight: bold;
  letter-spacing: 0.025em;
  animation-name: moveInTop;
  animation-duration: 1.6s;
  animation-timing-function: ease-out; }
  @media (max-width: 37.5em) {
    .heading-main {
      line-height: 5rem;
      margin-bottom: 1.6rem; } }

.heading-sub {
  font-family: 'Open Sans', sans-serif;
  color: #eee;
  display: block;
  font-size: 2.4rem;
  font-weight: normal;
  letter-spacing: 0.045em;
  text-transform: uppercase;
  animation: moveInTop 2.4s ease-out;
  animation-delay: 1.5s;
  animation-fill-mode: backwards;
  margin-bottom: 6rem; }
  @media (max-width: 37.5em) {
    .heading-sub {
      margin-bottom: 4rem; } }

.title {
  display: inline-block;
  font-family: 'Kelson', sans-serif;
  letter-spacing: .2rem;
  font-size: 4rem;
  margin-bottom: 1rem;
  background-image: linear-gradient(to right bottom, #CA3782, #1E0B36);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: transform .2s; }

.subtitle {
  font-size: 2rem;
  line-height: 3.2rem; }
  .subtitle--light {
    color: #58304b; }

.u-text-center {
  text-align: center !important; }

.u-m-b-sm {
  margin-bottom: 2rem !important; }

.u-m-b {
  margin-bottom: 4rem !important; }

.u-m-b-lg {
  margin-bottom: 8rem !important; }

.u-no-margin {
  margin: 0 !important; }

.u-m-t-lg {
  margin-top: 8rem !important; }

.btn {
  font-family: 'Lato', sans-serif; }
  .btn, .btn:link, .btn:visited {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    position: relative;
    border-radius: 2rem;
    transition: all .2s;
    font-size: 1.6rem;
    backface-visibility: hidden;
    border: none;
    cursor: pointer; }
  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .btn:hover::after {
      opacity: 0; }
  .btn:active, .btn:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .btn::after {
    content: '';
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .4s;
    z-index: -1; }
  .btn--white {
    background-color: #fff;
    color: #777; }
    .btn--white::after {
      background-color: #fff; }
  .btn--green {
    background-color: #CA3782;
    color: #fff; }
    .btn--green::after {
      background-color: #CA3782; }
  .btn--animated {
    animation: moveInBottom 2.4s ease-out .75s;
    animation-fill-mode: backwards; }

.content {
  box-sizing: border-box;
  padding: 2.4rem; }
  .content__text {
    margin: 0 18rem; }
    .content__text p {
      padding: 1.6rem 0; }

.footer {
  height: auto;
  position: relative;
  color: #f8f8f8;
  background-image: linear-gradient(to right bottom, rgba(30, 11, 54, 0.8), rgba(30, 11, 54, 0.8)), url(../img/hero-footer-small.jpg);
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  padding: 6rem 4rem;
  font-size: 1.4rem; }
  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    .footer {
      -webkit-clip-path: polygon(0 30%, 15% 0, 85% 0, 100% 30%, 100% 100%, 0 100%);
      clip-path: polygon(0 30%, 15% 0, 85% 0, 100% 30%, 100% 100%, 0 100%); } }
  @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em), (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em), (min-width: 125em) {
    .footer {
      background-image: linear-gradient(to right bottom, rgba(30, 11, 54, 0.8), rgba(30, 11, 54, 0.8)), url(../img/hero-footer.jpg); } }
  @media (max-width: 56.25em) {
    .footer {
      padding: 4rem 0;
      -webkit-clip-path: unset;
      clip-path: unset; } }
  .footer__logo-container {
    text-align: center;
    margin-bottom: 2rem; }
  .footer__logo {
    width: 15rem;
    height: auto; }
    @media (max-width: 37.5em) {
      .footer__logo {
        width: 20rem; } }
  .footer__navigation-container {
    text-align: center; }
    @media (max-width: 56.25em) {
      .footer__navigation-container {
        max-width: 50rem; } }
  .footer__navigation {
    text-align: center;
    border-top: 1px solid #CA3782;
    padding-top: 2rem;
    display: inline-block; }
    @media (max-width: 56.25em) {
      .footer__navigation {
        width: 100%; } }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__link, .footer-single__link {
    font-family: 'Lato', sans-serif;
    backface-visibility: hidden; }
    .footer__link i, .footer-single__link i {
      margin-right: 4px; }
    .footer__link:link, .footer__link:visited, .footer-single__link:link, .footer-single__link:visited {
      color: #f8f8f8;
      background-color: transparent;
      text-decoration: none;
      display: inline-block;
      transition: all 0.2s; }
    .footer__link:hover, .footer__link:active, .footer-single__link:hover, .footer-single__link:active {
      color: #CA3782; }
  .footer__link:hover, .footer__link:active {
    transform: rotate(5deg) scale(1.3); }
  .footer__copyright, .footer__credits {
    color: rgba(238, 238, 238, 0.7);
    font-size: 1.4rem;
    font-family: 'Lato', sans-serif;
    padding-top: 2rem;
    width: 80%;
    float: right; }
    @media (max-width: 56.25em) {
      .footer__copyright, .footer__credits {
        width: 100%;
        float: none; } }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 4rem; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 4rem; } }
  @media (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 4rem; }
      @media (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 4rem; } }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 4rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 4rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 4rem) / 3) + 4rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 4rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3* 4rem) / 4) + 4rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3* 4rem) / 4) + 2 * 4rem); }

.header {
  height: 100vh;
  min-height: 500px;
  background-image: linear-gradient(115.07deg, rgba(30, 11, 54, 0.8), rgba(202, 55, 130, 0.8)), url(../img/hero-small.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative; }
  @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em), (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em), (min-width: 125em) {
    .header {
      background-image: linear-gradient(to right bottom, rgba(30, 11, 54, 0.8), rgba(202, 55, 130, 0.8)), url(../img/hero.jpg); } }
  @media (max-width: 56.25em) {
    .header {
      min-height: 420px;
      -webkit-clip-path: unset;
      clip-path: unset; } }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
    @media (max-width: 37.5em) {
      .header__logo-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        top: 8rem; } }
  .header__logo {
    height: 4rem; }
    @media (max-width: 37.5em) {
      .header__logo {
        height: 8rem; } }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 80%; }
    @media (max-width: 56.25em) {
      .header__text-box {
        top: 55%; } }
    @media (max-width: 37.5em) {
      .header__text-box {
        width: auto; } }

.navigation {
  padding: 0 3rem;
  display: flex;
  flex-flow: row;
  align-items: center;
  height: 64px;
  background-image: linear-gradient(115.07deg, rgba(30, 11, 54, 0.8), rgba(202, 55, 130, 0.8)), url(../img/hero-small.jpg);
  background-position: top;
  background-attachment: fixed;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.8); }
  .navigation__logo {
    height: 3rem; }
    @media (max-width: 37.5em) {
      .navigation__logo {
        height: 4rem; } }

.section-bio {
  padding: 6rem 8rem; }
  @media (max-width: 56.25em) {
    .section-bio {
      padding: 4rem 1rem; } }
  @media (max-width: 56.25em) {
    .section-bio__content {
      max-width: 100%; } }
  .section-bio__text {
    -moz-column-count: 3;
    -moz-column-gap: 2;
    column-count: 2;
    column-gap: 4rem;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    text-align: justify; }
    @media (max-width: 56.25em) {
      .section-bio__text {
        column-count: unset; } }
  .section-bio__shape {
    position: relative;
    display: block;
    margin: 0 auto 1rem;
    width: 15rem;
    height: 15rem;
    background-color: transparent;
    border: 2px solid #CA3782;
    overflow: hidden;
    border-radius: 50%; }
    .section-bio__shape:hover .section-bio__caption {
      opacity: 1;
      transform: translate(-50%, -50%); }
    .section-bio__shape:hover .section-bio__img {
      transform: scale(1.3);
      filter: blur(3px) brightness(120%); }
    @media (max-width: 37.5em) {
      .section-bio__shape {
        transform: skewX(0); } }
  .section-bio__img {
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: all .5s; }
  .section-bio__caption {
    font-family: 'Lato', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    font-size: 2.8rem;
    text-align: center;
    opacity: 0;
    transition: all .5s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
    .section-bio__caption a {
      text-decoration: none;
      background-image: linear-gradient(to right bottom, #CA3782, #1E0B36);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent; }
