.footer {
  height: auto;
  position: relative;
  color: $color-gray-light;
  background-image: linear-gradient(to right bottom,
      rgba($color-primary-dark, 0.8),
      rgba($color-primary-dark, 0.8)),
      url(../img/hero-footer-small.jpg);
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  padding: 6rem 4rem;
  font-size: 1.4rem;

  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    -webkit-clip-path: polygon(0 30%,
      15% 0,
      85% 0,
      100% 30%,
      100% 100%,
      0 100%);
    clip-path: polygon(0 30%,
      15% 0,
      85% 0,
      100% 30%,
      100% 100%,
      0 100%);
  }
    
  // 192dpi is the Apple retina display.
  @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
                         (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
                         (min-width: 125em) {
    background-image: linear-gradient(to right bottom,
                                      rgba($color-primary-dark, 0.8),
                                      rgba($color-primary-dark, 0.8)),
                      url(../img/hero-footer.jpg);
  }

  // Remove clip-path in small devices.
  @include respond(tab-port) {
    padding: 4rem 0;
    -webkit-clip-path: unset;
    clip-path: unset;
  }

  &__logo-container {
    text-align: center;
    margin-bottom: 2rem;
  }

  &__logo {
    width: 15rem;
    height: auto;

    @include respond(phone) {
      width: 20rem;
    }
  }

  &__navigation-container {
    text-align: center;
    @include respond(tab-port) {
      max-width: 50rem;
    }
  }

  &__navigation {
    text-align: center;
    border-top: 1px solid $color-primary;
    padding-top: 2rem;
    display: inline-block;

    @include respond(tab-port) {
      width: 100%;
    }
  }

  &__list {
    list-style: none;
  }

  &__item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }

  &__link,
  &-single__link {
    font-family: 'Lato', sans-serif;
    backface-visibility: hidden;
    i {
      margin-right: 4px;
    }

    &:link,
    &:visited {
      color: $color-gray-light;
      // background-color: $color-primary-dark;
      background-color: transparent;
      text-decoration: none;
      //  text-transform: uppercase;
      display: inline-block;
      transition: all 0.2s;
    }

    &:hover,
    &:active {
      color: $color-primary;
    }
  }

  &__link {
    &:hover,
    &:active {
      transform: rotate(5deg) scale(1.3);
    }
  }

  &__copyright,
  &__credits {
    color: rgba($color-gray-light-2, 0.7);
    font-size: 1.4rem;
    font-family: 'Lato', sans-serif;
    // border-top: 1px solid $color-primary;
    padding-top: 2rem;
    width: 80%;
    float: right;

    @include respond(tab-port) {
      width: 100%;
      float: none;
    }
  }
}