.header {
  height: 70vh;
  background-image: linear-gradient(to right bottom,
      rgba($color-primary-dark, 0.8),
      rgba($color-primary, 0.8)),
      url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0,
      100% 0,
      100% 70%,
      85% 100%,
      15% 100%,
      0 70%,
      0 100%);
  position: relative;

  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }

  &__logo {
    height: 5rem;
  }

  &__text-box {
    @include absCenter;
    top: 60%;
    text-align: center;
  }
}