////
/// Header layout
/// @group Layout
/// @author Rafael Goulart (faelplg)
////

/// The layout header
/// @todo Apply responsive images using media queries.
.header {
  height: 70vh;
  min-height: 500px;
  background-image: linear-gradient(to right bottom,
      rgba($color-primary-dark, 0.8),
      rgba($color-primary, 0.8)),
      url(../img/hero-1.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  -webkit-clip-path: polygon(0 0,
      100% 0,
      100% 70%,
      85% 100%,
      15% 100%,
      0 70%,
      0 100%);
  clip-path: polygon(0 0,
      100% 0,
      100% 70%,
      85% 100%,
      15% 100%,
      0 70%,
      0 100%);
  position: relative;

  // Remove clip-path in small devices.
  @include respond(tab-port) {
    height: 70vh;
    min-height: 420px;
    -webkit-clip-path: unset;
    clip-path: unset;
  }

  /// Logo container
  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;

    @include respond(phone) {
      @include absCenter;
      top: 8rem;
    }
  }

  /// Logo image
  &__logo {
    height: 4rem;
  }

  /// Main text container
  &__text-box {
    @include absCenter;
    text-align: center;

    /// Change top distance in small devices.
    @include respond(tab-port) {
      top: 60%;
    }
  }
}