body {
  font-family: 'Libre Baskerville', serif;
  // font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  color: $font-color;
}

p.p {
  font-size: 1.7rem;
  line-height: 3.2rem;
}

%heading {
  backface-visibility: hidden;
}

.heading-main {
  color: $color-white;
  font-family: 'Roboto Slab', serif;
  display: block;
  font-size: 5rem;
  font-weight: bold;
  letter-spacing: 0.025em;

  animation-name: moveInTop;
  animation-duration: 1.6s;
  animation-timing-function: ease-out;

  @include respond(phone) {
    line-height: 5rem;
    margin-bottom: 1.6rem;
  }
}

.heading-sub {
  @extend %heading;
  font-family: 'Open Sans', sans-serif;
  color: $color-gray-light-2;
  display: block;    
  font-size: 2.4rem;
  font-weight: normal;
  letter-spacing: 0.045em;
  text-transform: uppercase;
  animation: moveInBottom 1.6s ease-out;
  // animation-duration: 1s;
  // animation-name: moveInRight;
  // animation-timing-function: ease-out;
  // animation-iteration-count: 3;
  // animation-iteration-count: infinite;
  animation-delay: 1s;
  animation-fill-mode: backwards;
  margin-bottom: 6rem;

  @include respond(phone) {
    margin-bottom: 4rem;
  }
}

.title {
  display: inline-block;
  font-family: 'Kelson', sans-serif;
  letter-spacing: .2rem;
  // color: $font-color-secondary;
  font-size: 4rem;
  margin-bottom: 1rem;

  background-image: linear-gradient(to right bottom, $color-primary, $color-primary-dark);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;

  transition: transform .2s;

  // &:hover {
  //   transform: scale(1.08);
  //   text-shadow: 0 1rem 2rem rgba($color-black, .16);
  //   backface-visibility: hidden;
  // }
}

.subtitle {
  font-size: 2rem;
  line-height: 3.2rem;

  &--light {
    color: $font-color-secondary;
  }
}