.section-bio {
  padding: 4rem;

  @include respond(tab-port) {
    padding: 4rem 1rem;
  }

  &__content {
    @include respond(tab-port) {
      max-width: 100%;
    }
  }

  &__text {
    -moz-column-count: 3;
    -moz-column-gap: 2;

    column-count: 2;
    column-gap: 4rem;

    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;

    text-align: justify;

    @include respond(tab-port) {
      column-count: unset;
    }
  }
}