.section-bio {
  font-size: 2rem;
  line-height: 3.2rem;
  padding: 3rem;

  &__content {
    -moz-column-count: 2;
    -moz-column-gap: 2;
    
    column-count: 2;
    column-gap: 4rem;

    -webkit-hyphens: auto;
       -moz-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
  }
}